*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* common styles from here */
body {
  background-color: #e5e5e5;
}

/* for responsive design styles */
@media only screen and (max-width: 576px) {
  .banner-image {
    height: 586px;
  }
}
